# Dependencies
node_modules/

# User data (projects, plugins, scripts)
data/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Build/Temp
dist/
build/
tmp/
temp/
*.tmp


# others
plugins/nyx
plugins/retn0-deobfuscation